pipeline/LocalDB to AzureDB _fault tolerance schema validation_.json
{
	"name": "LocalDB to AzureDB _fault tolerance schema validation_",
	"properties": {
		"activities": [
			{
				"name": "Get Inbound Schema",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "LocalTableEmploees",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					]
				}
			},
			{
				"name": "If Condition - Inbound Schema Equals Valid Schema",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Inbound Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Inbound Valid Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Inbound Schema').output.structure,variables('Inbound Table Structure'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "linkedService1",
											"type": "LinkedServiceReference"
										},
										"path": "order-fiels"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "SecondName",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LocalTableEmploees",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureTableEmployees",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set Inbound Valid Schema",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Inbound Table Structure",
					"value": [
						{
							"physicalName": "ID",
							"type": "Int32",
							"logicalType": "Int32",
							"name": "ID",
							"physicalType": "int",
							"precision": 10,
							"scale": 255,
							"DotNetType": "System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						},
						{
							"physicalName": "FirstName",
							"type": "String",
							"logicalType": "String",
							"name": "FirstName",
							"physicalType": "varchar",
							"precision": 255,
							"scale": 255,
							"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						},
						{
							"physicalName": "LastName",
							"type": "String",
							"logicalType": "String",
							"name": "LastName",
							"physicalType": "varchar",
							"precision": 255,
							"scale": 255,
							"DotNetType": "System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						}
					]
				}
			}
		],
		"variables": {
			"Inbound Table Structure": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}